extends layout

block content
  h3 投稿一覧
  each word in words
    div.card
      div.card-body
        h5.card-title #{word.word}
        hr
        div.d-flex.justify-content-between.align-items-center.w-100
          - var hasDescription = word.description !== ""
          if hasDescription
            div(style="width: 90%")
              p.cart-text.text-muted #{word.description}
          else
            p.text-muted No description
          - var isMine = parseInt(user.id) === word.createdBy
            a(href=`/words/${word.wordId}/edit`).card-link 編集