html, body{
  height: 100%;
}
.container{
  padding-top: 70px;
  padding-bottom: 1rem;
  background-color: #ffffff;
  height: auto;
  min-height: 100%; 
}
.btn-main-color{
  color: #ffffff;
  background-color: #59B51D;
  border-color: #59B51D;
}
.btn-main-color:hover{
  color: #ffffff;
  background-color: #438716;
  border-color: #438716;
}
.btn-outline-main-color{
  color: #59B51D;
  background-color: transparent;
  background-image: none;
  border-color: #59B51D;
}
.btn-outline-main-color:hover{
  color: #ffffff;
  background-color: #59B51D;
  border-color: #59B51D;
}
.box-shadow{
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.small-font{
  font-size: 0.8rem;
}
.large-font{
  font-size: 1.25rem;
}
.word-username {
  font-size: 80%;
  margin-right: 10px;
}
.word-creation-day {
  font-size: 80%;
  margin-right: 10px;
}
.word-description {
  font-size: 80%;
  white-space: pre-wrap;
}
.comment-container{
  position: relative;
  padding-top: 24px;
}
.comment-username{
  font-size: 80%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.comment-creation-day{
  font-size: 80%;
  position: absolute;
  top: 0px;
  right: 0px;
}
.comment{
  width: 95%;
  white-space: pre-wrap;
  margin-top: 10px;
}
.comment-delete-button{
  position: absolute;
  top: 34px;
  right: 0px;
}
.word-edit-button{
  margin-right: 50px;
}
.favorite-action{
  margin-bottom: 1rem;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.reverse{
  transform: scale(-1, 1);
}
.favorite-button{
  display: inline-block;
  background-color: #ffffff; 
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.favorite-button:hover{
background: #eff0f1;
}
.favorite-icon{
  padding: 7px;
}
.favorite-icon-pink{
  color: #F39AAB;
}
.jamp-to-comment-button{
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.jamp-to-comment-button:hover{
  background: #eff0f1;
}
.comment-icon{
  padding: 7px;
}
.favorite-icon-green{
  color: #15C09F;
}
.empty-message-container{
  text-align: center;
  padding: 3rem;
  border: solid 3px rgba(0, 0, 0, .1);
  border-radius: 8px;
}
.login-button-container{
  text-align: center;
  padding: 5rem;
  border: solid 3px rgba(0, 0, 0, .1);
  border-radius: 8px;
}
.underline-jumbotron{
  background-color: rgba(0, 0, 0, .1);
  height: 3px;
  width: 200px;
  margin: 0 auto 1rem auto;
}
.word-delete-form{
  display: inline;
}
